html {
    margin: 0;
    padding: 0;
    museo-sans: "Helvetica Neue", Times, serif;
}

body {
    padding-bottom: 100px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'proxima-nova', sans-serif;*/
}

.standard-font {
    font-family: "Open Sans";
}

.margin {
    padding-top: 20px;
}

.navbar-brand {
    padding: 10px;
}

.navbar {
    margin-bottom: 0;
    text-align: center;
    font-family: 'mueso-sans', sans-serif;
}

.navbar-text {
    margin-top: 12px;
}

.navbar-default {
    background-color: #F3711A;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #18BC9C;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #B24801;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #18BC9C;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #B24801;
    color: #FFFFFF;
}

.navbar-fixed-top {
    border: 0;
}

.btn-primary {
    background-color: #2C3E50;
    border-color: #2C3E50;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #1E2A36;
    border-color: #161F29;
}

.btn-success {
    background-color: #18BC9C;
    border-color: #18BC9C;
    color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #FFFFFF;
    background-color: #13987E;
    border-color: #13987E;
}

.btn-default {
    background-color: #95A5A6;
    border-color: #95A5A6;
    color: #FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-success {
    color: #FFFFFF;
    background-color: #7F9293;
    border-color: #74898A;
}

.thumbnail img:hover {
    transform: scale(1.1);
}

.thumbnail img {
    transition: all 0.3s ease 0s;
    width: 100%;
}

.thumbnail {
    overflow: hidden;
}

.bikes-header {
    color: #B24801;
}

.navbar-text > a {
    color: inherit;
    text-decoration: none;
}

#nav {
}

#navPhone {
    padding-right: 25px;
}

/* Custom TRT font */
@font-face {
    font-family: stingray;
    src: url('/fonts/stingray.ttf');
}

.trt-font {
    font-family: stingray;
}

.trt-heading {
    font-family: stingray;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
    color: white;
    font-size: 9vw;
}

/* /custom TRT font*/

@font-face {
    font-family: 'museo_sans500';
    src: url('/fonts/MuseoSans_500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* full page backgrounds */
.full-width-background {
    height: 500px;
    /*width: 100%;*/
    max-width: 100%;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-1 {
    background-image: url('/img/stock2.jpg');
}

.section-2 {
    background-image: url('/img/service.jpg');
}

.section-3 {
    background-image: url('/img/fit.jpg');
}

.section-4 {
    background-image: url('/img/rental.jpg');
}

/* /full page backgrounds */

.center-heading {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
    color: white;
    font-size: 7vw;
}

.center-sub-heading {
    text-align: center;
    color: white;
    text-align: center;
    color: #B24801;
}

.index-text {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

.index-content {
    padding-top: 50px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

/* Index page carousel */
.carousel-index {
    height: 300px;
}

#carousel-index {
    height: 300px;
}

#carousel-index-image-1 {
    height: 300px;
    background: url('/img/stock2.jpg') center;
    background-size: cover;
    background-attachment: fixed;
}

#carousel-index-image-2 {
    height: 300px;
    background: url('/img/finance.jpg') top center;
    background-size: cover;

}

#carousel-index-image-3 {
    height: 300px;
    background: url('/img/fit.jpg') top center;
    background-size: cover;

}

#carousel-index-image-4 {
    height: 300px;
    background: url('/img/rental.jpg') top center;
    background-size: cover;

}

/* /Index Page Carousel*/

/* footer */
.footer {
    height: 40px;
}

/* Watermark */
.watermark {
    font-size: 10px;
}

.watermark a {
    font-size: 10px;
    text-decoration: none;
    color: inherit;
}

/* /footer */

/* Fit Page */
#fit-banner {
    background-color: grey;
}

#fit-title {
    padding-top: 50px;
    text-align: center;
}

#fit-splash-text {
    text-align: justify;
    color: white;
}

.fit-heading {
    font-family: stingray;
    text-align: center;
}

.fit-price {
    text-align: center;
}

.fit-description {

}

/* /Fit Page*/

/* Rental Page */
#rental-banner {
    background: url('/img/recreation.jpg') center fixed;
    background-size: cover;
    height: 300px;
    /*background-position-x: 800px;*/
    background-position-y: -30px;
}

/* /Rental Page */

/* Repair Page */
.repair-banner {
    background: url('/img/repair-banner.jpg') center fixed;
    background-size: cover;
    background-position-y: 425px;
    height: 200px;
}

.repair-heading {
    text-align: center;
    font-family: stingray;
}

.repair-price {
    text-align: center;
}

.repair-list {
    text-align: left;
}

.repair-list.glyphicon {
    font-size: smaller;
}

/* /Repair Page*/

.map {
    padding-top: 20px;
    text-align: center;
}

.center-text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .center-heading {
        font-size: 4em;
    }

    .dropdown-header {
        text-align: center;
    }

    .dropdown-menu {
        text-align: center;
    }

    #carousel-index-image-1 {
        background: url('/img/dirt2.jpg') left ;
    }
}

@media screen and (min-width: 768px) {
    /* Fit Page */
    #fit-banner {
        background: url('/img/precisionFit.gif');
        background-size: cover;
        height: 600px;
    }

    #fit-splash-text {
        padding-top: 160px;
    }

    .full-width-background {
        background-attachment: fixed;
    }

    /* /Fit Page*/
    .repair-list {
        min-height: 200px;
    }

}