<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="Favata's, NY Bike Rentals, New York Bikes, NY Bicycle Store,Bicycle store, TRT, Table Rock Tours,Hudson Valley, Bicycles,  Table Rock Tours and Bicycles, Ride Race Live, Mountain Bike Rental, Road Bike Rental, Full service bike shop, Bike riding techniques, Upcoming bike events, Bikes, Parts, Repairs, Rides, Womens bikes, Men bikes,Road bicycles, Mountain Bicycles, Bike shop, The bike shop, Bike parts, Bikes on sale, Bike gear, Bike Accessories, Down hill bikes, Specialized bikes, BMX, Cycling shop"/>
    <title>TRT Fit</title>

    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="/img/favicon.ico"/>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link href="/css/custom.css" rel="stylesheet">
</head>

<body>

<!-- Nav -->
<div id="nav"></div>
<script>
    $(function(){
        $("#nav").load("/views/nav.html");
    });
</script>
<!--/ Nav -->

<!-- Fit Content -->
<div id="fit-banner"></div>

<!-- /Fit Content -->

<!-- Fixed footer -->
<div id="footer"></div>
<script>
    $(function(){
        $("#footer").load("/views/footer.html");
    });
</script>
<!-- /Fixed footer-->

<!-- Modals -->
<div id="modals"></div>
<script>
    $(function(){
        $("#modals").load("/views/modals.html");
    });
</script>
<!-- /Modals-->
</body>
</html>