<!-- Fixed footer -->
<div class="navbar navbar-inverse navbar-fixed-bottom footer" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <div class="watermark">
        &copy TRT Bicycles <span id="copyright">2016</span>.<br />
        <span
          >Created by
          <a target="_blank" href="http://nickcacace.com">Nick Cacace</a>
        </span>
      </div>
      <script>
        const currentYear = new Date().getFullYear();
        document.getElementById('copyright').innerText = String(currentYear);
      </script>
    </div>

    <div class="navbar-text pull-right">
      <a href="https://www.facebook.com/favatastrtbicycles" target="_blank">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a>
      <a href="https://twitter.com/christianfavata" target="_blank">
        <i class="fa fa-twitter-square fa-2x"></i>
      </a>
      <a
        href="https://www.instagram.com/explore/tags/trtbicycles/"
        target="_blank"
      >
        <i class="fa fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
</div>
<!-- /footer -->
