<!-- Fixed footer -->
<div class="navbar navbar-inverse navbar-fixed-bottom footer" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p class="watermark">Created by <a target="_blank" href="http://nickcacace.com">Nick Cacace</a></p>
        </div>
        <div class="navbar-text pull-right">
            <a href="https://www.facebook.com/favatastrtbicycles" target="_blank"><i
                    class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://twitter.com/christianfavata" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://www.instagram.com/explore/tags/trtbicycles/" target="_blank"><i
                    class="fa fa-instagram fa-2x"></i></a>
            <a href="https://plus.google.com/114329360121273493084/about?hl=en" target="_blank">
                <i class="fa fa-google plus-square fa-2x"></i></a>

        </div>
    </div>
</div>
<!-- /footer -->