<!-- Hours -->
<div class="modal fade" id="hours" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="hours-modal-title">Fall Hours</h3>
      </div>
      <div class="modal-body">

        <!--TODO: use js here-->

        <!-- Update season here, remember to update nav-->

        <!-- Spring Hours -->
        <table class="table table-striped">
          <tr>
            <td>Monday</td>
            <td>11:00AM - 6:00PM</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>CLOSED</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>11:00AM - 6:00PM</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>11:00AM - 6:00PM</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>11:00AM - 6:00PM</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>11:00AM - 5:00 PM</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>11:00AM - 5:00 PM</td>
          </tr>
        </table>
        <!-- /Spring Hours -->

        <!-- Summer Hours -->
        <!--<table class="table table-striped">-->
        <!--<tr>-->
        <!--<td>Monday</td>-->
        <!--<td>11:00AM - 6:00PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Tuesday</td>-->
        <!--<td>CLOSED</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Wednesday</td>-->
        <!--<td>11:00AM - 6:00PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Thursday</td>-->
        <!--<td>11:00AM - 6:00PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Friday</td>-->
        <!--<td>11:00AM - 6:00PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Saturday</td>-->
        <!--<td>11:00AM - 5:00 PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Sunday</td>-->
        <!--<td>11:00AM - 5:00 PM</td>-->
        <!--</tr>-->
        <!--</table>-->
        <!-- /Summer Hours -->

        <!-- Fall Hours -->
        <!--<table class="table table-striped">-->
          <!--<tr>-->
            <!--<td>Monday</td>-->
            <!--<td>11:00AM - 6:00PM</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Tuesday</td>-->
            <!--<td>CLOSED</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Wednesday</td>-->
            <!--<td>11:00AM - 6:00PM</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Thursday</td>-->
            <!--<td>11:00AM - 6:00PM</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Friday</td>-->
            <!--<td>11:00AM - 6:00PM</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Saturday</td>-->
            <!--<td>11:00AM - 5:00 PM</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Sunday</td>-->
            <!--<td>11:00AM - 5:00 PM</td>-->
          <!--</tr>-->
        <!--</table>-->
        <!-- /Fall Hours -->

        <!-- Winter Hours -->
        <!--<table class="table table-striped">-->
        <!--<tr>-->
        <!--<td>Monday</td>-->
        <!--<td>11:00AM - 6:00PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Tuesday</td>-->
        <!--<td>CLOSED</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Wednesday</td>-->
        <!--<td>11:00AM - 6:00PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Thursday</td>-->
        <!--<td>CLOSED</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Friday</td>-->
        <!--<td>11:00AM - 6:00PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Saturday</td>-->
        <!--<td>11:00AM - 5:00 PM</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Sunday</td>-->
        <!--<td>12:00PM - 5:00 PM</td>-->
        <!--</tr>-->
        <!--</table>-->
        <!-- /Winter Hours-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /Hours -->

<!-- Contact -->
<div class="modal fade" tabindex="1" id="contact" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Contact</h3>
      </div>
      <!--<div class="modal-body">-->
        <!-- Address -->
        <div class="col-xs-12 visible-xs center-text">
          <address>
            <strong>Favata's TRT Bicycles</strong> <br>
            1066 Route 32 <br>
            PO Box 228 <br>
            Rosendale, NY 12472
          </address>
          <a href="https://www.google.com/maps/place/Favata's+TRT+Bicycles/@41.842841,-74.0761897,17z/data=!3m1!4b1!4m2!3m1!1s0x89dd1bca6bdc817b:0x62a69083f892ee33">
            Google Maps
          </a>
        </div>

        <!-- embeded map -->
        <div class="col-sm-12 map hidden-xs">
          <iframe src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2972.324535623776!2d-74.07618968482844!3d41.84284097922505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dd1bca6bdc817b%3A0x62a69083f892ee33!2sFavata&#39;s+TRT+Bicycles!5e0!3m2!1sen!2sus!4v1450919632298"
                  width="400"
                  height="300"
                  frameborder="0"
                  allowfullscreen>
          </iframe>
        </div>
        <div class="col-xs-12 col-sm-6 center-text">
          <h4>Phone</h4> 845-658-7832
        </div>
        <div class="col-xs-12 col-sm-6 center-text">
          <h4>Email</h4> <a href="mailto:christian@trtbicycles.com">Christian@trtbicycles.com</a>
        </div>
      <!--</div>-->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /Contact -->