<!-- Hours -->
<div class="modal fade" id="hours" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="hours-modal-title"></h3>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tbody id="hours-table"></tbody>
        </table>

        <script>
          var dayMap = {
            mon: 'Monday',
            tue: 'Tuesday',
            wed: 'Wednesday',
            thu: 'Thursday',
            fri: 'Friday',
            sat: 'Saturday',
            sun: 'Sunday'
          };

          var springHours = {
            'mon': '11:00AM - 6:00PM',
            'tue': 'CLOSED',
            'wed': '9:00AM - 6:00PM',
            'thu': '9:00AM - 6:00PM',
            'fri': '9:00AM - 6:00PM',
            'sat': '9:00AM - 4:00PM',
            'sun': '9:00AM - 4:00PM'
          };

          var summerHours = {
            'mon': '11:00AM - 6:00PM',
            'tue': 'CLOSED',
            'wed': '11:00AM - 6:00PM',
            'thu': '11:00AM - 6:00PM',
            'fri': '11:00AM - 6:00PM',
            'sat': '11:00AM - 5:00PM',
            'sun': '11:00AM - 5:00PM'
          };

          var fallHours = {
            'mon': '11:00AM - 6:00PM',
            'tue': 'CLOSED',
            'wed': '11:00AM - 6:00PM',
            'thu': '11:00AM - 6:00PM',
            'fri': '11:00AM - 6:00PM',
            'sat': '11:00AM - 5:00PM',
            'sun': '11:00AM - 5:00PM'
          };
          var winterHours = {
            'mon': '11:00AM - 6:00PM',
            'tue': 'CLOSED',
            'wed': '11:00AM - 6:00PM',
            'thu': '11:00AM - 6:00PM',
            'fri': '11:00AM - 6:00PM',
            'sat': '11:00AM - 4:00PM',
            'sun': 'CLOSED'
          };

          <!-- Update season here, remember to update nav-->
          let hours = winterHours;
          let hoursHeadingText = 'Winter Hours';

          document.getElementById('hours-modal-title').innerText = hoursHeadingText;

          var table = document.getElementById('hours-table');

          Object.keys(hours).forEach(day => {
            var row = document.createElement('tr');
            var dayContent = document.createElement('td');
            dayContent.innerText = dayMap[day];
            var hoursContent = document.createElement('td');
            hoursContent.innerText = hours[day];

            row.appendChild(dayContent);
            row.appendChild(hoursContent);
            table.appendChild(row);
          });
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Hours -->

<!-- Contact -->
<div class="modal fade" tabindex="1" id="contact" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Contact</h3>
      </div>
      <!--<div class="modal-body">-->
      <!-- Address -->
      <div class="col-xs-12 visible-xs center-text">
        <address>
          <strong>Favata's TRT Bicycles</strong> <br />
          1066 Route 32 <br />
          PO Box 228 <br />
          Rosendale, NY 12472
        </address>
        <a
          href="https://www.google.com/maps/place/Favata's+TRT+Bicycles/@41.842841,-74.0761897,17z/data=!3m1!4b1!4m2!3m1!1s0x89dd1bca6bdc817b:0x62a69083f892ee33"
        >
          Google Maps
        </a>
      </div>

      <!-- embeded map -->
      <div class="col-sm-12 map hidden-xs">
        <iframe
          src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2972.324535623776!2d-74.07618968482844!3d41.84284097922505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dd1bca6bdc817b%3A0x62a69083f892ee33!2sFavata&#39;s+TRT+Bicycles!5e0!3m2!1sen!2sus!4v1450919632298"
          width="400"
          height="300"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="col-xs-12 col-sm-6 center-text">
        <h4>Phone</h4>
        <a href="tel:+18456587832">845-658-7832</a>
      </div>
      <div class="col-xs-12 col-sm-6 center-text">
        <h4>Email</h4>
        <a href="mailto:christian@trtbicycles.com">Christian@trtbicycles.com</a>
      </div>
      <!--</div>-->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /Contact -->
