<!-- Nav -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Collapse -->
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle"
      data-toggle="collapse"
      data-target=".navbar-collapse"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index.html">
      <span class="nav-icon"><img src="/img/trt.svg" height="30px"/></span>
    </a>
  </div>
  <!-- /Collapse -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <!-- Bikes dropdown -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Bikes
          <b class="caret"></b
        ></a>
        <ul class="dropdown-menu">
          <!-- Trek -->
          <li class="dropdown-header bikes-header">
            Trek
          </li>
          <li>
            <a
              href="http://www.trekbikes.com/us/en/bikes/road/"
              target="_blank"
            >
              Road
            </a>
          </li>
          <li>
            <a
              href="http://www.trekbikes.com/us/en/bikes/mountain/"
              target="_blank"
            >
              Mountain
            </a>
          </li>
          <li>
            <a
              href="http://www.trekbikes.com/us/en/bikes/city/"
              target="_blank"
            >
              Hybrid
            </a>
          </li>
          <li>
            <a
              href="http://www.trekbikes.com/us/en_US/bikes/city-bikes/recreation-bikes/kids/c/B414"
              target="_blank"
            >
              Kids
            </a>
          </li>

          <!-- BMC -->
          <li class="dropdown-header bikes-header">
            BMC
          </li>
          <li>
            <a
              href="http://www.bmc-switzerland.com/us-en/bikes/road/"
              target="_blank"
            >
              Road
            </a>
          </li>
          <li>
            <a
              href="http://www.bmc-switzerland.com/us-en/bikes/mountain/"
              target="_blank"
            >
              Mountain
            </a>
          </li>
          <li>
            <a
              href="http://www.bmc-switzerland.com/us-en/bikes/lifestyle/"
              target="_blank"
            >
              Hybrid
            </a>
          </li>

          <!-- Framed -->
          <li class="dropdown-header bikes-header">
            Framed Fat Bikes
          </li>
          <li>
            <a
              href="http://www.framedbikes.com/wt-alloy-series/"
              target="_blank"
            >
              Wolftrax
            </a>
          </li>
          <li>
            <a
              href="http://www.framedbikes.com/ak-shimano-series/"
              target="_blank"
            >
              Alaskan
            </a>
          </li>
          <li>
            <a
              href="http://www.framedbikes.com/minnesota-series-dealers/"
              target="_blank"
            >
              Minnesota
            </a>
          </li>

          <!-- Redline -->
          <li class="dropdown-header bikes-header">
            Redline
          </li>
          <li>
            <a href="http://redlinebicycles.com/" target="_blank">
              BMX
            </a>
          </li>
        </ul>
        <!-- /Bikes dropdown -->

        <!-- Brands dropdown -->
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Brands
          <b class="caret"></b
        ></a>
        <ul class="dropdown-menu">
          <!-- Components -->
          <li class="dropdown-header bikes-header">
            Components
          </li>
          <li>
            <a href="https://www.sram.com/" target="_blank">
              SRAM
            </a>
          </li>
          <li>
            <a href="https://bike.shimano.com" target="_blank">
              Shimano
            </a>
          </li>
          <li>
            <a href="https://www.ridefox.com" target="_blank">
              Fox Racing Shox
            </a>
          </li>
          <li>
            <a href="https://www.sram.com/en/rockshox" target="_blank">
              RockShox
            </a>
          </li>

          <!-- Accessories -->
          <li class="dropdown-header bikes-header">
            Accessories
          </li>
          <li>
            <a
              href="http://www.trekbikes.com/us/en_US/company/our_brands/bontrager/"
              target="_blank"
            >
              Bontrager
            </a>
          </li>
          <li>
            <a href="https://www.parktool.com/" target="_blank">
              Park Tool
            </a>
          </li>
          <li>
            <a href="https://vie13.com" target="_blank">
              Vie13
            </a>
          </li>
          <li>
            <a href="https://www.northwave.com" target="_blank">
              Northwave
            </a>
          </li>

          <!-- Wheels -->
          <li class="dropdown-header bikes-header">
            Wheels
          </li>
          <li>
            <a href="http://www.mavic.us/" target="_blank">
              Mavic
            </a>
          </li>
          <li>
            <a
              href="https://www.trekbikes.com/us/en_US/equipment/cycling-components/bike-wheels/c/E209/"
              target="_blank"
            >
              Bontrager
            </a>
          </li>
          <li>
            <a href="http://www.notubes.com/" target="_blank">
              Stans NoTubes
            </a>
          </li>

          <!-- Auto Racks -->
          <li class="dropdown-header bikes-header">
            Auto Racks
          </li>
          <li>
            <a href="https://www.saris.com" target="_blank">
              Saris
            </a>
          </li>
          <li>
            <a href="https://www.thule.com/en-us/us" target="_blank">
              Thule
            </a>
          </li>
        </ul>
      </li>

      <li><a href="/views/rental.html">Rental</a></li>
      <li><a href="/views/repair.html">Repair</a></li>
      <li><a href="/views/fit.html">Fit</a></li>
      <!--<li class="williams-lake-image">-->
      <li>
        <a href="https://www.bikereg.com/williamslakeclassic" target="_blank">
          Williams Lake Classic
          <!--Spaces for image-->
          <!--&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp-->
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a id="todayHours" href="#hours" data-toggle="modal"></a></li>
      <li>
        <a id="navPhone" href="#contact" data-toggle="modal">(845)-658-7832</a>
      </li>
    </ul>
    <script>
      var today = new Date();
      var weekDay = today.getDay();
      var day = today.getDate();

      var springHours = {
        mon: '11:00AM - 6:00PM',
        tue: 'CLOSED',
        wed: '9:00AM - 6:00PM',
        thu: '9:00AM - 6:00PM',
        fri: '9:00AM - 6:00PM',
        sat: '9:00AM - 4:00PM',
        sun: '9:00AM - 4:00PM'
      };

      var summerHours = {
        mon: '11:00AM - 6:00PM',
        tue: 'CLOSED',
        wed: '11:00AM - 6:00PM',
        thu: '11:00AM - 6:00PM',
        fri: '11:00AM - 6:00PM',
        sat: '11:00AM - 5:00PM',
        sun: '11:00AM - 5:00PM'
      };

      var fallHours = {
        mon: '11:00AM - 6:00PM',
        tue: 'CLOSED',
        wed: '11:00AM - 6:00PM',
        thu: '11:00AM - 6:00PM',
        fri: '11:00AM - 6:00PM',
        sat: '11:00AM - 5:00PM',
        sun: '11:00AM - 5:00PM'
      };

      var winterHours = {
        mon: '11:00AM - 6:00PM',
        tue: 'CLOSED',
        wed: '11:00AM - 6:00PM',
        thu: '11:00AM - 6:00PM',
        fri: '11:00AM - 6:00PM',
        sat: '11:00AM - 4:00PM',
        sun: 'CLOSED'
      };

      // Set season here, remember to update modals
      var currentHours = winterHours;

      // assign hours for today
      var hoursMap = {
        1: currentHours.mon,
        2: currentHours.tue,
        3: currentHours.wed,
        4: currentHours.thu,
        5: currentHours.fri,
        6: currentHours.sat,
        0: currentHours.sun
      };
      var hours = hoursMap[weekDay];

      var todayHours =
        hours === 'CLOSED' ? 'Closed Today' : 'Open Today ' + hours;
      document.getElementById('todayHours').innerHTML = todayHours;
    </script>
  </div>
  <!--/ .nav-collapse -->
</div>
<!--/ Nav -->
