<!-- Nav -->
<div class="navbar navbar-default navbar-fixed-top"
     role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="active">
          <a href="#">
            <i class="fa fa-bicycle fa-2x"></i>
            Home
          </a>
        </li>
        <!-- Bikes dropdown -->
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
            Bicycles
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Bicycles</li>
            <li><a href="http://www.trekbikes.com/us/en/bikes/road/"
                   target="_blank">
              Road Bikes
            </a></li>
            <li><a href="http://www.trekbikes.com/us/en/bikes/mountain/"
                   target="_blank">Mountain Bikes</a></li>
            <li><a href="http://www.trekbikes.com/us/en/bikes/city/">
              Hybrid Bikes
            </a></li>
            <li><a href="http://www.trekbikes.com/us/en/bikes/city/"
                   target="_blank">
              Kids Bikes
            </a></li>
          </ul>
          <!-- /Bikes dropdown -->
        <li><a href="#">Rentals</a></li>
        <li><a href="#">Custom Bike Fit</a></li>
        <li><a href="#about" data-toggle="modal">About</a></li>

        <li><a href="#contact" data-toggle="modal">Contacts</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Table Rock Tours and Bicycles (845)-658-7832</a></li>
      </ul>
    </div>
    <!--/ .nav-collapse -->
  </div>
</div>
<!--/ Nav -->