@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'stingray';
  src: url('../fonts/stingray.ttf');
}

.font-face-stingray {
  font-family: 'stingray', sans-serif;
}
