.splash {
  background-image: url("./factory-racing.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px
}

.splash-text {
  font-family: stingray, sans-serif;
}
