.splash {
  background-image: url('./factory-racing.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.splash-text {
  font-family: stingray, sans-serif;
}

.image-content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.repair-image {
  background-image: url('./repair.jpg');
}

.rental-image {
  background-image: url('./rental.jpg');
}

.fit-image {
  background-image: url('./fit.jpg');
}
