.not-found-page {
  background-image: url("./bike_crash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.not-found-hero {
  position: absolute;
  bottom: 20px;
//  margin-top: 30vh;
}
