.fit-banner {
  background-image: url("./precision-fit.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -30px;
  height: 500px;
}

.fit-text {
  margin-top: 70px;
}
